<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>credential</title>
</head>
<body>
<h1>Registration form</h1>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username">
    <br>
    <br>
    <input type="text" name="first_name" placeholder="Enter the first name">
     <br>
    <br>
    <input type="text" name="last_name" placeholder="Enter the second name">
     <br>
    <br>
    <input type="email" name="email" placeholder="Enter the email">
     <br>
    <br>
    <input type="password" name="password" placeholder="Enter the password">
     <br>
    <br>
    <input type="password" name="password1" placeholder="Confirm the password">
     <br>
    <br>
    <input type="submit">
</form>
{% for msg in messages %}
<h1>{{msg}}</h1>
{% endfor %}
</body>
</html>